In [1]:
from collections import namedtuple

In [2]:
Point = namedtuple("Point","x, y")

In [3]:
p1 = Point(2, 3)
p2 = Point(3, 4)

In [5]:
dot_products = (p1.x * p2.x) + (p1.y * p2.y)
print(dot_products)

18

In [6]:
# example case 2
Car = namedtuple('Car', 'Price Mileage Colour Class')
xyz = Car(Price = 100000, Mileage = 250, Colour = 'Red', Class = 'X')

In [7]:
print(xyz)

Car(Price=100000, Mileage=250, Colour='Red', Class='X')

In [8]:
print(xyz.Class)

X

In [9]:
print(xyz.Price)

100000

In [14]:
# solving the problem

n = int(input())
fields = input().split()

total_marks = 0
for student in range(n):
    students = namedtuple('student', fields)
    MARKS, NAME, CLASS, ID = input().split()
    student = students(MARKS, NAME, CLASS, ID)
    total_marks += int(student.MARKS)

print('{:2f}'.format(total_marks/n))

81.000000